footer
  .container
    h5
      a(href='#') DREAMSHARE
    ul
      li Company
      li
        a(href='#') About
      li
        a(href='#') Contact
      li
        a(href='#') Press
      li
        a(href='#') Blog
      li
        a(href='#') Terms and Privacy
      li
        a(href='#') Help
    ul
      li Partners
    .footer-logo
      span Designed by
      img(src='images/footer_logo.png', alt='')