header
  .container
    nav
      .header-logo
        a.header-logo__link(href='#') Dreamshare
      .autorization-button
        a.autorization-button__1(href='#') Log in
        a.autorization-button__2(href='#') Sign up
    .header-title
      h1.header-title__main
        | Share your
        br
        |  holiday dream
      p.header-title__info And find the perfect partner to fullfill it
      a.header-title__button(href='#') Find your holiday partner